<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="main">
      <div class="col-md-6 col-sm-12">
        <div th:if="${param.error}" class="alert alert-warning">
          Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
          You have been logged out.
        </div>
        <div class="login-form">
          <form method="post" role="form" th:action="@{/login}">
            <div class="form-group">
              <label>Username</label>
              <input
                      id="username"
                      name="username"
                      type="text"
                      class="form-control"
                      placeholder="Username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                      id="password"
                      name="password"
                      type="password"
                      class="form-control"
                      placeholder="Password">
            </div>
            <button th:href="@{/register}" type="submit" class="btn btn-black">Don't have an account? Register here.</button>
            <button type="submit" class="btn btn-secondary" value="Log in">Login</button>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>
</body>
</html>